.Rhistory         
.RData         
.Ruserdata  

*.Rproj
.Rproj.user/      
  
*.tar.gz
*.Rcheck/
*.Rbuildignore
.DS_Store      

data/         
results/         
  
*.html
*.pdf
*.docx

*~               